<template>
  <div class="">
    <TheNavbar/>
    
    <div class="container-fluid mt-4">
      <Converter/>
    </div>
    <p class="m-1">Made by Tayo</p>
  </div>
</template>

<script>
import TheNavbar from '../components/TheNavbar.vue'
import Converter from '../components/Converter.vue'

export default {
  name: '',
  props: {
    
  },
  components: {
    TheNavbar,
    Converter,
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
