<template>
  <div class="" id="converter">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card my-card">
          <div class="container p-4">
            <form action="">
              <h6 class="text-left">Select the currency</h6>
              <div class="form-group">
                <select class="form-control" id="" v-model="currency1" @change="calculate1">
                  <option v-for="x in arrCurr" v-bind:key="x" :value="x[1]">{{x[0]}}</option>
                </select>
              </div>
              <div class="form-group">
                <input  class="form-control input" type="number" min="0" id="" name="" v-model.number="value1" @change="calculate2" @keyup="calculate2">
              </div>

              <div class="row my-3 justify-content-center">
                <i class="fas fa-arrow-up fa-2x mr-1"></i>
                <i class="fas fa-arrow-down fa-2x ml-1"></i>
              </div>
              
              <h6 class="text-left">Select the currency</h6>
              <div class="form-group">
                <select class="form-control" id="" v-model="currency2" @change="calculate2">
                  <option v-for="x in arrCurr" v-bind:key="x" :value="x[1]">{{x[0]}}</option>
                </select>
              </div>
              <div class="form-group">
                <input class="form-control input" type="number" min="0" id="" name="" v-model.number="value2" @change="calculate1" @keyup="calculate1">
              </div>
            </form>

          </div>
        </div>
        
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
export default {
  name: '',
  props: {
    
  },
  data() {
    return {
      info: null,
      arrCurr: [],
      currency1: 0,
      currency2: 0,
      value1: 0,
      value2: 0,
    }
  },
  methods: {
    calculate1: function() {
      var hitung = this.value2 * this.currency1 / this.currency2;
      this.value1 = Math.round(hitung * 100) / 100;
    },
    calculate2: function() {
      var hitung = this.value1 * this.currency2 / this.currency1;
      this.value2 = Math.round(hitung * 100) / 100;
    },
    order: function() {
      for (var key in this.info) {
        this.arrCurr.push([key, this.info[key]])
      }
      this.arrCurr.sort()
    },
  },
  mounted() {
    this.$axios
      .get('https://api.exchangeratesapi.io/latest?base=USD')
      .then(response => (this.info = response.data.rates))
      .then(response => this.order())
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#converter {
  font-family: 'Nunito', sans-serif;
}
.my-card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.input {
  text-align: right;
  font-family: 'Consolas', Consolas, monospace;
  font-size: 2em;
}
</style>
