<template>
  <div class="">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item">
          <h2 class="header m-0">Currency Converter</h2>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'TheNavbar',
  props: {
    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.header {
  color: white;
  font-family: 'Roboto Slab', serif;
}
</style>
