<template>
  <div id="app">
    <MainPage/>
  </div>
</template>

<script>
import MainPage from './views/MainPage.vue';

export default {
  name: 'app',
  components: {
    MainPage,
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
